node-red.json
[{"id":"b655c667.d24628","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"37c87a02.a26e46","type":"mqtt in","z":"b655c667.d24628","name":"","topic":"led_status_bruno_app_01","qos":"2","broker":"d781e2f.4faf12","x":190,"y":120,"wires":[["b3f116a5.1bcc08"]]},{"id":"b3f116a5.1bcc08","type":"debug","z":"b655c667.d24628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"feedc47d.cf3af8","type":"mqtt in","z":"b655c667.d24628","name":"","topic":"led_status_bruno_app_01","qos":"2","broker":"d781e2f.4faf12","x":150,"y":220,"wires":[["a39e994e.2908c8"]]},{"id":"9881d15e.b8e1f","type":"http response","z":"b655c667.d24628","name":"","statusCode":"","headers":{},"x":670,"y":380,"wires":[]},{"id":"77a5e75c.3d9318","type":"http request","z":"b655c667.d24628","name":"","method":"PUT","ret":"txt","url":"localhost:3000/led/ligar","tls":"","x":510,"y":440,"wires":[["9881d15e.b8e1f"]]},{"id":"ac6afae6.0e1588","type":"http request","z":"b655c667.d24628","name":"","method":"PUT","ret":"txt","url":"localhost:3000/led/desligar","tls":"","x":510,"y":320,"wires":[["9881d15e.b8e1f"]]},{"id":"a39e994e.2908c8","type":"switch","z":"b655c667.d24628","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":380,"wires":[["ac6afae6.0e1588"],["77a5e75c.3d9318"]]},{"id":"5190b7a4.431778","type":"inject","z":"b655c667.d24628","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["ca67bf6f.7397c"]]},{"id":"7809d93.54c2828","type":"inject","z":"b655c667.d24628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["ca67bf6f.7397c"]]},{"id":"ca67bf6f.7397c","type":"mqtt out","z":"b655c667.d24628","name":"","topic":"led_status_bruno_app_01","qos":"","retain":"","broker":"d781e2f.4faf12","x":400,"y":600,"wires":[]},{"id":"d781e2f.4faf12","type":"mqtt-broker","z":"","name":"","broker":"10.3.8.37","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]